/*  koad was here  */


/* TODO:  learn from this > https://codepen.io/nntrn/details/NWqaVXX */
:root {
 
   /* github dark == hsl(215, 15%, 16%)*/

   /* Hue determines the colour, in degrees; 0 to 360 */
   --application-hue: 215;         
   --text-hue: 210;         
   --shadow-hue: var(--application-hue);         
   --accent-hue: var(--application-hue);         

   /* Determines the saturation; 0 to 100 percent */
   /* A higher number will give you intense colour */
   /* A lower number will give you a less intense colour */
   --application-saturation: 15;  
   --text-saturation: 32;  
   --shadow-saturation: var(--application-saturation);  
   --accent-saturation: var(--application-saturation);  

   /* Determines the brightness; 0 to 100 percent */
   --application-brightness: 16;  
   --text-brightness: 85; 
   --shadow-brightness: var(--application-brightness);  
   --accent-brightness: var(--application-brightness);  

   /* Determines the transparency; 0 to 100 percent */
   --application-transparency: 20;  
   --shadow-transparency: 20;  
   --accent-transparency: 20;  

   --content-width: 90vw;
   --contrastThreshold: 80%;
   --lightnessTransform: 10%;
   --darknessTransform: 15%;
   --accent-text-brightness-percent: 100%;  


   /* CALCULATIONS */
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*intermediates are needed here, the minifier will break this shit otherwise.*/

   /*--application-brightness-percent: calc(100% / calc(100 / var(--application-brightness)));*/
   --application-brightness-intermediate: calc(100 / var(--application-brightness));
   --application-brightness-percent: calc(100% / var(--application-brightness-intermediate));

   /*--application-saturation-percent: calc(100% / calc(100 / var(--application-saturation)));*/
   --application-saturation-intermediate: calc(100 / var(--application-saturation));
   --application-saturation-percent: calc(100% / var(--application-saturation-intermediate));


   /*--text-brightness-percent: calc(100% / calc(100 / var(--text-brightness)));*/
   --text-brightness-intermediate: calc(100 / var(--text-brightness));
   --text-brightness-percent: calc(100% / var(--text-brightness-intermediate));
   
   /*--text-saturation-percent: calc(100% / calc(100 / var(--text-saturation)));*/
   --text-saturation-intermediate: calc(100 / var(--text-saturation));
   --text-saturation-percent: calc(100% / var(--text-saturation-intermediate));


   /*--accent-saturation-percent: calc(100% / calc(100 / var(--accent-saturation)));*/
   --accent-saturation-intermediate: calc(100 / var(--accent-saturation));
   --accent-saturation-percent: calc(100% / var(--accent-saturation-intermediate));

   /*--accent-brightness-percent: calc(100% / calc(100 / var(--accent-brightness)));*/
   --accent-brightness-intermediate: calc(100 / var(--accent-brightness));
   --accent-brightness-percent: calc(100% / var(--accent-brightness-intermediate));


   /*--shadow-saturation-percent: calc(100% / calc(100 / var(--shadow-saturation)));*/
   --shadow-saturation-intermediate: calc(100 / var(--shadow-saturation));
   --shadow-saturation-percent: calc(100% / var(--shadow-saturation-intermediate));

   /*--shadow-brightness-percent: calc(100% / calc(100 / var(--shadow-brightness)));*/
   --shadow-brightness-intermediate: calc(100 / var(--shadow-brightness));
   --shadow-brightness-percent: calc(100% / var(--shadow-brightness-intermediate));


   /*--application-transparency-percent: calc(100% / calc(100 / var(--application-transparency)));*/
   --application-transparency-intermediate: calc(100 / var(--application-transparency));
   --application-transparency-percent: calc(100% / var(--application-transparency-intermediate));


   --text-inverted: hsl(var(--text-hue), var(--text-saturation-percent), calc(100% - var(--text-brightness-percent)));
   --light-l: calc(var(--application-brightness) + var(--lightnessTransform));
   --dark-l: calc(var(--application-brightness) - var(--darknessTransform));


   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/
   /*TODO:  SOME OF THIS SHIT DOESNT WORK WHEN MINIMIZED;*/

   --border-color: hsl(var(--accent-hue), var(--text-saturation-percent), calc(100% - var(--text-brightness-percent)));
   --text-color: hsl(var(--text-hue), var(--text-saturation-percent), var(--text-brightness-percent));

   --shadow-color: hsla(var(--shadow-hue), var(--shadow-saturation-percent), var(--shadow-brightness-percent), var(--application-transparency-percent));
   --background-color: hsla(var(--application-hue), var(--application-saturation-percent), 10%, 1);
   --background-color: hsla(var(--application-hue), var(--application-saturation-percent), var(--application-brightness-percent), 1);

   --highlight-color: hsl(var(--application-hue), var(--application-saturation-percent), var(--application-brightness-percent));
   --highlight-color-transparent: hsla(var(--application-hue), var(--application-saturation-percent), var(--application-brightness-percent), var(--application-transparency-percent));
   --highlight-text-color: var(--text-color);

   --accent-color: hsla(var(--accent-hue), var(--accent-saturation-percent), var(--accent-brightness-percent), 1);
   --accent-text-color: hsla(var(--accent-hue), var(--accent-saturation-percent), var(--accent-text-brightness-percent), 1);

   --base: hsl(var(--application-hue), var(--application-saturation-percent), var(--application-brightness));
   --dark: hsl(var(--application-hue), var(--application-saturation-percent), var(--dark-l));
   --light: hsl(var(--application-hue), var(--application-saturation-percent), var(--light-l));

   --fill-color: hsla(var(--application-hue), var(--application-saturation-percent), 88%, 0.88);


   /* CONSTANTS */
   
   --breakpoint-xs: 0;
   --breakpoint-sm: 576px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 992px;
   --breakpoint-xl: 1200px;

   --side-edges: 10px;
   --left-edge: 0px;

   --success: #28a745;
   --info: #17a2b8;
   --info: #02aed6;
   --warning: #ffc107;
   --danger: #dc3545;

   --blue: #007bff;
   --indigo: #6610f2;
   --purple: #6f42c1;
   --pink: #f36;
   --red: #dc3545;
   --orange: #fd7e14;
   --yellow: #ffc107;
   --green: #28a745;
   --teal: #20c997;
   --cyan: #02aed6;
   --white: #fff;
   --gray: #6c757d;
   --gray-dark: #343a40;

   --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
   --body-font: Segoe UI, Roboto, Helvetica Neue, Arial;
   --heading-font: Roboto, sans-serif;
   --table-font: monospace;
   --card-font: Helvetica Neue, Arial, sans-serif;

}

.text-shadow{
   color: var(--shadow-color);
}

.text-accent{
   color: var(--accent-color);
}

.text-inverted{
   color: var(--text-inverted);
}



.form-control {
    color: #212529;
    background-color: var(--shadow-color);
    color: var(--text-color);
    border: 1px solid #ced4da;
}

.margin { width: calc( (100vw - var(--content-width)) / 2); }


.opacity-100{
    opacity: 1;
}

.opacity-90{
    opacity: 0.9;
}

.opacity-80{
    opacity: 0.8;
}

.opacity-70{
    opacity: 0.7;
}

.opacity-60{
    opacity: 0.6;
}

.opacity-50{
    opacity: 0.5;
}

.opacity-40{
    opacity: 0.4;
}

.opacity-30{
    opacity: 0.3;
}

.opacity-20{
    opacity: 0.2
}

.opacity-10{
    opacity: 0.1;
}

