.full-page-background img{
	width: 100%;
	opacity: 0.5;

}

.full-page-background{
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	left: 0;
	margin: -30%;
	z-index: -1000;
	/*backdrop-filter: blur(52px);*/
	filter: blur(5px);

}

.swal2-popup {

    color: #fff!important;
    background: #0004!important;
    border:  1px solid #fff3!important;
    backdrop-filter: blur(12px);
}


.swal2-title {
    color: #fff!important;
}

.table-hover > tbody > tr:hover {
    background-color: #22222256;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #22222266;
}

.btn-default {
    color: #aaa;
    background-color: #3444;
    border-color: #ccc;
}
