
button {
  background-color: var(--background-color);
  color: var(--text-color);

}

.swal2-styled{
    background-color: var(--application-hue)!important;

}

.btn-brand{
	text-transform: uppercase;
	background-color: var(--shadow-color);
	background-color: transparent;
	border-radius: 6px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: var(--text-color);
	display: inline-block;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	border: solid 2px var(--highlight-color);;
	transition: all 0.2s linear;
	padding: 4px 11px;
	margin: 5px;
}

.btn-brand:active, 
.btn-brand:visited, 
.btn-brand:focus, 
.btn-brand:hover, 
.btn-brand:active:hover, 
.btn-brand:visited:hover, 
.btn-brand:focus:hover {
	background-color: var(--shadow-color);
	color: var(--text-color);
	outline: none;
	border-radius: 0;
	padding: 6px 13px;
	margin: 4px;
}


.btn-outline {
	text-transform: uppercase;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: var(--text-color);
	display: inline-block;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	border: solid 1px var(--accent-color);
	transition: all 0.2s linear;
	padding: 5px 8px;
	margin: 1px;
}

.btn-outline:active, 
.btn-outline:visited, 
.btn-outline:focus, 
.btn-outline:hover, 
.btn-outline:active:hover, 
.btn-outline:visited:hover, 
.btn-outline:focus:hover {
	background-color: var(--accent-color);
	color: #eee;
	outline: none;
	border-radius: 0;
}


.btn-tag{
	border: 1px solid var(--shadow-color);
	padding: 1px;
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 4px;
	background-color: #00000055;
	color: #ffffff;
}

