.content-contained{
	position: relative;
	width: fill-available;
}

.site-contained {
	/*transition: 0.8s;*/
	position: fixed;
	right: 0px;
	left: 0px;
	top: 18px;
	bottom:  0;

	/*padding-right: var(--side-edges);*/
	/*padding-left: var(--left-edge);*/
	/*border:  2px solid yellow;*/
	overflow: auto;
}

.page-contained {
	/*transition: 0.8s;*/
	position: relative;
	padding-right: var(--side-edges);
	padding-left: var(--side-edges);
	width: fill-available;
}

.contained{
	/*width: 800px;*/
	padding: var(--side-edges);
	margin: auto;
}


.full-width-panel{
	backdrop-filter: blur(35px);
	overflow: auto;
}


.three-fiths{
	width: 60%;
	padding-left: 10px;
	padding-right: 10px;
}
.two-fiths{
	width: 40%;
	padding-left: 10px;
	padding-right: 10px;
}


.width-125{
	width: 125px;
}
.width-100{
	width: 100px;
}
.width-80{
	width: 80px;
}
.width-50{
	width: 50px;
}

.position-fixed {
	position: fixed;
}

.layout-application {
	height: 100px;
	padding:  2px;
}


.upper-section {
	background-image: linear-gradient(var(--highlight-color), var(--background-color));
	position: fixed;
	top:  2px;
	left:  2px;
	right:  2px;
	/*margin-bottom: -20;*/
	/*border:  1px solid var(--highlight-color);*/
}


.bottom-section {
	position: fixed;
	left:  2px;
	right:  2px;
	bottom: 2px;
	top: 341px;
	background-color: var(--highlight-color);

}

.bottom-inner-card {
	position: fixed;
	top: 237px;
	bottom: 25px;
	left:  2px;
	right:  2px;
	border-top: 12px;
	overflow-y: auto;
	background-color: #343434;
}

.bottom-card {
	width: 100%;
	padding: 6px;
	background-color: var(--background-color);
	min-height: 100%;
}



.filter-input-banner {
	background-image: linear-gradient(var(--highlight-color), var(--highlight-color), var(--background-color));
	position: fixed;
	top: 0px;
	height:  68px;
	left:  2px;
	right:  2px;

}

.episode-selector {
	position: fixed;
	left:  2px;
	right:  2px;
	bottom: 26px;
	top: 67px;
}

.episode-table {
	/*padding-top: 100px;*/
	/*margin-top: -100px;*/
	position: relative;
	overflow-y: auto;
	height:  100%;
}


.fullscreen{
	background-image: linear-gradient(var(--shadow-color), var(--highlight-color), var(--background-color), var(--accent-color));
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.main-content-container{
	padding-top: 20px;
	padding-bottom: 30px;
}

.flex-container {
  display: flex; /* Use flexbox */
}

.left-column, .right-column {
  flex: 1; /* Equal width columns */
  padding: 10px; /* Example padding */
}

.left-column {
  order: 1; /* Order of left column */
}

.right-column {
  order: 2; /* Order of right column */
}

.max-width-360px{
	max-width: 360px;
}