
.indicator-drawer {
	/*padding: 0;*/
	margin-top: 3px;
	margin-left: 9px;
	position: fixed;
	top: 0px;
	font-size: 26px;
	transition: 0.1s; /* 0.5 second transition effect to slide in the smartnav */
}

.indicator-background{
	backdrop-filter: blur(8px);
	position: absolute;
	z-index: -200;
	height: 100%;
	width: 100%;
	border-radius: 30px;
	padding-bottom: -10px;
	margin-top: -8px;
}

.indicator-group{
	color: var(--highlight-color);
	z-index: 1900;
	position: relative;
	margin-top: -10px;
	padding-top: 10px;
	margin-bottom: 40px;
	text-align: center;
}

.indicator-brand{
	color: var(--shadow-color);
}

.indicator-brand:hover{
	color: var(--background-color);
}
