.flash {
    /* you could use milliseconds (ms) or something like 2.5s */
    animation: colorchange 1s; /* animation-name followed by duration in seconds*/
    -webkit-animation: colorchange 1s; /* Chrome and Safari */
}

@keyframes colorchange
{
    10%  {background: dimgrey;}
    90%  {background: dimgrey;}
}

/* Safari and Chrome - necessary duplicate */
@-webkit-keyframes colorchange 
{
    10%  {background: dimgrey;}
    90%  {background: dimgrey;}
}

/*https://htmlcolorcodes.com/color-names/*/


.brand-light {
	color: #cacaca;
}

.brand-dark {
	color: #343434;
}

.pull-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.one-quarter{
	width: 25%;
}

.three-quarters{
	width: 75%;


}
.one-third{
	width: 33.3%;
}

.full-width{
	width: 100%;
}

.green-text-shadow {
    text-shadow: 0px 0px 8px #00aa00;
}

.text-success-shadow{
    text-shadow: 0px 0px 8px #84b547;
}

.text-warning-shadow{
    text-shadow: 0px 0px 8px #e76d3b;
}



.avatar{
	width: 200px;
	margin-right: 25px;
	margin-left: 15px;
	float: left;
}

.avatar-large{
	width: 240px;
	margin-right: 25px;
	margin-left: 15px;
	float: left;
}

.img-circle {
	border-radius: 50%;
}

.two-thirds {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
	width: 66.6%;
}
.one-third {
	width: 33.3%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
form {
    display: block;
    margin-top: 0em;
}

.half-width{
	width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}
.panel-body {
    padding: 15px;
}

.alert {
    padding: 15px;
    margin-bottom: 19px;
    border: 1px solid transparent;
    border-radius: 2px;
}
.no-bg {
    background: none;
}
.b-l-success {
    border-left-color: #84b547!important;
}
.b-b-gray {
    border-bottom-color: #383838!important;
}
.b-r-gray {
    border-right-color: #383838!important;
}
.b-t-gray {
    border-top-color: #383838!important;
}
.b-l-3 {
    border-left: 3px solid #262626!important;
}
.alert {
    margin-bottom: 20px;
    border-radius: 4px;
}

.small-table-icon{
	width: 23px;
}


.top {
	top: 0;
}

.right {
	right: 0;
}

.bottom {
	bottom: 0;
}

.left {
	left: 0;
}

.fixed {
	position: fixed;
}

.panel-fixed {
	position: fixed;
}

.text-info {
    color: #50C5B7;
    /*background-color: #E6EBE0;*/
}
.text-success {
    color: #9CEC5B;
    /*background-color: #DFF2BF;*/
}
.text-warning {
    color: #F0F465;
    /*background-color: #FEEFB3;*/
}
.text-danger {
    color: #ED6A5A;
    background-color: #00000022;
}

.no-bottom-padding{
	padding-bottom: 0;
}

.no-bottom-margin{
	margin-bottom: 0;
}

button {
	background-color: #ffffff16;
	color: #bbb;
	border-left-color: #ffffff22;
	border-top-color: #ffffff22;
}

a{
	color: #77a;
}

.float-right{
	float:right;
}

.successful {
	color: #7a7;
}

.awesome {
	color: #7a7;
}

.danger {
	color: #a77;
}

.failing, .failure {
	color: #a77;
}


.button-hat{
	margin-top: 8px;
	flex-wrap: wrap;
}


.content-contained{
	max-width: 2560px;
	margin: auto;

}

.footer-contained{
	background-position: center top;
	background-size: cover;
	min-height: 36px;
}

.header-contained{
	background-position: center top;
	background-size: cover;
	min-height: 36px;
}

.footer-content{
	padding: 16px;
}
.footer-foundation{
	width: 100%;
	background-color: rgba(128,128,128,1);
	/*background-repeat: no-repeat;*/
}


.inline{display: inline!important;}
.inline-block{display: inline-block!important;}


.right {
	right: 0;
}

.left {
	left: 0;
}

/* The side navigation menu */
.smartnav {
	top: 0; /* 100% Full-height */
	bottom: 0; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Stay on top */
	background-color: #1e222d99; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the smartnav */
	box-shadow: 0px 0px 1px #88888888 ;
	backdrop-filter: blur(8px);
}

/* The navigation menu links */
.smartnav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #eee;
  display: block;
  transition: 0.3s;
  position: relative;
}

/* When you mouse over the navigation links, change their color */
.smartnav a:hover {
	color: rgba(230,166,61,0.8);
}

.fa-icon{
	font-size: 24px;
	padding: 5px;
}
.half-tone{
	color: rgba(230,166,61,0.3);
	font-size: 26px;
}

.half-tone:hover {
	color: rgba(230,166,61,0.8);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.application-logo{
    padding-top: 16px;
    margin: 0px;
    max-width: 200px;
    width: 100%;
}

.application-logo img{
    max-width: 100%;
    max-height: 100%;
}

div.scrollmenu {
  /*background-color: #333;*/
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu::-webkit-scrollbar {
	width: 0.2em !important;
}


div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
	transition: all 0.3s ease-in-out;
}

div.scrollmenu a:hover {
	background-color: #777;
}

div.scrollmenu-container {
    padding-top: 8px;
    padding-bottom: 10px;
	text-align: right;
}

.flex-contained{
	display: flex;
	align-content: flex-start;
	flex-direction: row;
}

.grid-contained{
	margin: -10px;
	/*width: 100%;*/
	/*height: 100%;*/
	/*display: flex;*/
}

.grid-box-empty{
 	/*border: 1px dotted rgba(128, 128, 128,0.3);*/
	width: 100%;
	margin: auto;
	padding: 10px;
}

.box-inner{
	min-height: 128px;
	height: 100%;
	border: 1px dotted grey;
}

.flex-crown{
	flex-grow: 10;
	order: 1000;
}

.flex-sidecar-left{
	flex-grow: 1;
	flex-direction: column;
	/*border: 1px dotted green;*/
}

.flex-mainbody{
	background-color: rgba(24,25,26,0.2);
	flex-grow: 4;

}

.box1{
	background-color: rgba(24,25,26,0.2);
}

.box2{
	background-color: rgba(27,28,29,0.2);
	height: 500px;
}

.box3{
	background-color: rgba(30,31,32,0.2);
}

.box3{
	background-color: rgba(33,34,35,0.2);
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}


/*https://www.youtube.com/watch?v=ft5Dy9DfyRM*/
.masterpin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #194596;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.masterpin:after{
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
}

.projectpin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #964E19;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.projectpin:after{
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
}

.servicepin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #194596;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.servicepin:after{
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
}

.bounce {animation-name: bounce;animation-fill-mode: both;animation-duration: 1s;-webkit-animation-name: bounce;-webkit-animation-fill-mode: both;-webkit-animation-duration: 1s;}

.pulse {background: black;border-radius: 50%;height: 8px;width: 8px;position: absolute;left: 50%;top: 50%;margin: 13px 0px 0px -9px;transform: rotateX(55deg);-webkit-transform: rotateX(55deg);z-index: -2;}
.pulse:after {content: "";border-radius: 50%;height: 39px;width: 37px;position: absolute;margin: -13px 0 0 -14px;animation: pulsate 1s ease-out;-webkit-animation: pulsate 1s ease-out;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;opacity: 0;box-shadow: 0 0 1px 2px #000;animation-delay: 1.1s;-webkit-animation-delay: 1.1s;}

@keyframes pulsate {
  0% {transform: scale(0.1, 0.1);opacity: 0;}
  50% {opacity: 1;}
  100% {transform: scale(1.2, 1.2);opacity: 0;}
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1);opacity: 0;}
  50% {opacity: 1;}
  100% {-webkit-transform: scale(1.2, 1.2);opacity: 0;}
}

@keyframes bounce {
  0% {opacity: 0;transform: translateY(-2000px) rotate(-45deg);}
  60% {opacity: 1;transform: translateY(30px) rotate(-45deg);}
  80% {transform: translateY(-300px) rotate(-45deg);}
  100% {transform: translateY(0) rotate(-45deg);}
}

@-webkit-keyframes bounce {
  0% {opacity: 0;-webkit-transform: translateY(-2000px) rotate(-45deg);}
  60% {opacity: 1;-webkit-transform: translateY(30px) rotate(-45deg);}
  80% {-webkit-transform: translateY(-300px) rotate(-45deg);}
  100% {-webkit-transform: translateY(0) rotate(-45deg);}
}

/*.large-infobox {
  max-width: 1000px;
}

.small-infobox {
    width: 600px;
}
*/

.small-infobox-avatar {
    max-height: 120px; width: auto; padding: 25px;
}

.large-infobox-avatar {
    max-height: 120px;
}

.glowWhite{
    text-shadow: 0px 0px 10px #FFFFFF;
}

.previewbox > h3 {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 300;
    left: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 8px;
    width: auto;
}

.previewbox {
    background: none repeat scroll 0 0 #009019;
    height: 80px;
    position: relative;
    width: 100%;
}


.map-container {
  width: 100%;
  height: 600px;
  /*box-shadow: 0px 0px 6px #FFFFFF;*/
  position: relative;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.GoogleMapLegend{
  color: black;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  z-index: 400;
  width: 100px;
  background-color: rgba(64, 64, 64, 0.4);
  border: 1px solid rgba(64, 64, 64, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 4px;
}

.GoogleMapLegend .legend-item{
  /*background-color: rgba(48, 47, 43, 0.8);*/
  /*border: 4px solid #90191C;  SHIT*/
  height: 100%;
  width: 100%;
  padding-bottom: 2px;
  color: white;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 18px;
}

.GoogleMapLegend .legend-item-name{
  height: 24px;
  /*background-color: rgba(0, 0, 0, 0.6);*/
  width: 100%;
  color: white;
}

.GoogleMapLegend .legend-title{
  width: 100%;
  color: white;
  font-size: 16px;
}

.legend-superb {
  background: #3c7c3a;  /*Success*/
}

.legend-good{
  background: #0f9f16;  /*Success*/
}

.legend-naught{
  background: #f69b0e;  /*Success*/
}

.legend-warning{
  background: #ec6e2b;  /*Success*/
}

.legend-danger{
  background: #c5554f;  /*Success*/
}

.legend-unknown{
  background: #eee;  /*Success*/
}

.brand-panel{
	border: 1px solid #66666666;
	border-radius: 10px;
}

.branding-strip{
	width: 100%;
	height: 18px;
	background-image: linear-gradient(#da8033, #da8033, rgba(255,255,255,0));
	position: relative;
	z-index: 200;
	 /*box-shadow: 0px 0px 10px #888888;*/
}

.half-size{
	width: 50%;
}

.qtr-size{
	width: 25%;
}

.third-size{
	width: 33.3%;
}

.two-thirds-size{
	width: 66.6%;
}

.brand-circle{
	color: rgba(255,255,255,0.2);
	height: 0px;
	padding-left: 12px;
	padding-top: 4px;
	font-size: 42px;
}

.paper{
	width: 100%;
	min-height: 840px;
}



.form-viewer{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.ui-pnotify{
	backdrop-filter: blur(35px);
	background-color: #000000cc;
	border: 1px solid #eee4;
}


.animateBorder-error{
	border: 1px dotted red;
}
.animateBorder-changed{
	border: 1px dotted orange;
}
.animateBorder-success{
	border: 1px dotted green;
}

.padded-by-5{
	padding: 5px;
}

.border-right{
	border-right: 1px solid #ffffff11;
}

.no-wrap{
	white-space: nowrap;
}

.chain-feature-card{
	background-color: rgba(34, 34, 34, 0.5);
	margin-bottom: 20px;
	overflow: auto;
	padding: 6px;
	border: 2px solid rgb(0, 0, 0);

}

.feature-title{
	margin-top: 0px;
	margin-bottom: 4px;
}

.chainpack-title{
	margin-top: 0px;
	margin-bottom: 4px;
}

.chainpack-disclaimer{
	color: #eee6;

}

.btn-add-suggest-item{
	color: #eee9;
}

.swal2-styled {
    background-color: #ffffff22!important;
}

.swal2-styled:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(255,255,255,.3);
}

.btn-inactive{
	border-color:grey;
	color: #aaaa;
}

.btn-active{
	/*outline-color:grey;*/
}



.background-wrapper{
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -10; 
	overflow: hidden;
}

.brand-nest{
	background-color: rgba(0,0,0,0.2);
	border: 1px solid #505050;
	padding: 6px;
	border-radius: 6px;
	width: 100%;
}

.brand-nest-wrapper{
	/*border: 1px solid purple;*/
	float: right;
	padding: 15px;
}

.center-wrapper{
	/*border: 1px solid green;*/
}

.map-container{
	z-index: 2;
}

.listingPreview{
	/*border: 1px dashed cyan;*/
}

.container{
	/*border: 1px dotted yellow;*/
}

.brand-subtitle {
	text-align: center;
}

.listing-conditions{
	/*border: 1px dotted orange;*/
}

.listing-container{
	max-width: 1600px;
	margin: auto;
}

.warning-caption {
	background-color: #666600aa;
	padding: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 10px;
	border: 1px dotted yellow;
	border-radius: 6px;
} 

.caption-label {
	text-transform: uppercase;
}

.label {
	margin-top: 8px;
	margin-bottom: 8px;
}

.btn-brand{
	background: #f5782000;
    color: #fff;
    border: none;
    outline: none;
	border: 1px solid #f57820;
    /*padding: 15px 35px;*/
    /*display: inline-block;*/
    border-radius: 6px;
    /*letter-spacing: 1px;*/
    /*text-transform: none;*/
    /*text-shadow: none;*/
    /*font-weight: 700;*/
    /*line-height: 1em;*/
    /*font-style: normal;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    transition-duration: 0.3s;
}

.btn-brand:hover {
	background: #f57820;
    background-image: none;
	border: 1px solid #00000000;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}

.brand-text{
	font-family: 'Montserrat', sans-serif;
}

.thin{
	margin-top: 1.10rem; 
	margin-bottom: 2.5rem; 
	opacity: .6; 
	font-weight: 500; 
	line-height: 1.1;
}

.brand-h1{
	font-size: 7rem; 
}

.brand-h2{
	font-size: 1.8rem; 
}

.compartment{
	clear: both;
	/*border: 1px solid dodgerblue;*/
	min-height: 40px;
}

.side-by-side{
	width: 50%;
	/*border: 1px dotted yellow;*/
    float: left;
}

.side-by-side li{
	font-size: 21px;
    list-style-type: none;
}

.side-by-side h3{
	font-size: 24px;
}

.side-by-side-left{
        text-align: left;
}

.side-by-side-right{
        /*float: right;*/
        text-align: right;
}

.divider-brand{
	height: 2px;
	background-color: #da8033;
	width: 100%;
}

.footer-heading{
	text-transform: uppercase;
	padding-top: 100px;
	padding-bottom: 40px;
	font-size: 48px;
}

.btn-brand-exlarge{
	width: 240px;
	height: 60px;
	font-size: 24px;

}a {
	
}

a:hover{
	text-decoration: none;
	cursor: pointer;
	color: #f57820;
}

.social-icon-brand{
	font-size: 32px;
	margin: 10px;
}

.brand-text {
	/*font-family: "Open Sans",Verdana,Geneva,sans-serif;*/
	color: #fff;

	font-family: 'Montserrat', sans-serif;

}


.brand-color-highlight {
	color: #f05924
}

.panel-brand{
	background-color: rgba(64,64,64,0.32);
	border: 1px solid green);
}

a {
	color: white;
	text-decoration: none;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.hero-heading {
	margin: 0 0 30px 0;
	font-size: 36px;
	font-family: "Coolvetica", "Open Sans",Verdana,Geneva,sans-serif;
	font-size: 56px;
	line-height: 1.4;
	text-align: center;
}

.full-width{
	width: 100%;
}

.operator-avatar{
  border-radius: 50%;
	width: 200px;
	margin-right: 25px;
	margin-left: 15px;
	float: left;
}

.brand-icon-bar a{
	margin: 18px;
	font-size: 24px;
}

.twobyfour {
	clear: both;
	width: 100%;
	height: 25px;
	/*border: 1px solid yellow;*/
}

textarea:focus, input:focus{
    outline: none;
    /*background-color: #441*/
}

.panel-footer {
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.2);
    border-top: 1px solid #262626;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.panel-heading {
    color: white;
    background-color: rgba(0,0,0,0.2)!important;
    border-color: #666666!important;
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-section{
	width: 100%;
	clear: both;
}