[submodule "docs"]
	path = docs
	url = https://github.com/koad/documentation
[submodule "packages/io-collection-hooks"]
	path = packages/io-collection-hooks
	url = https://github.com/koad/io-collection-hooks.git
[submodule "packages/io-session"]
	path = packages/io-session
	url = git@github.com:koad/io-session.git
[submodule "packages/io-router"]
	path = packages/io-router
	url = https://github.com/koad/io-router.git
[submodule "packages/io-router-progress"]
	path = packages/io-router-progress
	url = https://github.com/koad/io-router-progress.git
