*
*/
!.gitignore
!.github
!.github/FUNDING.yml

!README.md

!bin
!bin/koad-io
!bin/entity

!hooks
!hooks/executed-without-arguments.sh

!commands
!commands/README.md

!commands/init
!commands/init/command.sh
!commands/init/README.md

!commands/example
!commands/example/command.sh
!commands/example/README.md

