# Ignore everything by default
*

# Allow these files
!.gitignore
!README.md
!reference.sh

# Allow the bare directory and all files inside recursively
!bare/
!bare/**

!interface/
!interface/**

!lighthouse/
!lighthouse/**


