body{
	color: white;
}

.koad-was-here{
	display: none;
}

		
.some-sort-of-layout{
	border: 1px solid #FFFFFF33;
	background-color: #FFFFFF11;
	padding:20px;
	margin:20px;
}
		
.some-sort-of-page{
	border: 1px solid #FFFFFF55;
	background-color: #FFFFFF22;
	padding:20px;
	margin:20px;
}