# Ignore all files in the folder
*
*/
!./.gitignore
!reference.sh
!TODO.md

# Include specific command folders
!backup
!browse
!build
!deploy
!gestate
!ssh
!start
!probe
!test

!spawn
!spawn/command.sh
!spawn/README.md

!assert
!assert/datadir
!assert/datadir/command.sh
!assert/datadir/README.md
