# Ignore all files in the folder
*
*/
!.gitignore
!/PRIMER.md
!/README.md

# Include specific command folders
!assert
!backup
!browse
!build
!build/**
!commit
!commit/**
!deploy
!deploy/**
!gestate
!gestate/**
!harness
!harness/**
!init
!init/**
!io
!io/**
!probe
!probe/**
!shell
!shell/**
!spawn
!spawn/**
!ssh
!start
!start/**
!stop
!stop/**
!restart
!restart/**
!test
!test/**
!think
!think/**
!sign
!sign/**
!install
!install/**
!respond
!respond/**
!roles
!roles/**
!adas
!adas/**
!outfit
!outfit/**
!generate
!generate/**
!entity
!entity/**
!party
!party/**
!upstart
!upstart/**
!upload
!upload/**
!profile
!profile/**
!configure
!configure/**
!daemon
!daemon/**
