# Ignore all files in the folder
*
*/
!.gitignore
!/PRIMER.md
!/README.md

# Include specific command folders
!assert
!backup
!browse
!build
!commit
!deploy
!gestate
!harness
!harness/**
!init
!io
!probe
!probe/**
!shell
!spawn
!ssh
!start
!stop
!restart
!test
!think
!sign
!install
!respond
!roles
!roles/**
!adas
!adas/**
!outfit
!outfit/**
!generate
!generate/**
!entity
!entity/**
!party
!upstart
!upload
!profile
!profile/**
!configure
!configure/**
!daemon
!daemon/**
