:root {
  --border: rgb(39, 39, 39);
  
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
  --text-color: rgb(222, 222, 222);
}

body {
  background-color: rgb(10, 10, 10);
  display: grid;
  margin: 0px;
  padding: 0px;
  place-items: center;
	width: 600px;
	height: 400px;
  color: white;
}

.card {
  border: 0.5vmin solid var(--border);
  border-radius: 9px;
  position: relative;
  width: 96vw;
  height: 94vh;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.08);
}

.card:hover > .card-content {
  background-position: -10% 0%;
}

.card:hover{
 border-color: rgb(3, 169, 244);
}

.card-verbage {
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  font-size: 5vmin;
  margin: 0px;
}


.card-status {
  font-family: "Anek Latin", sans-serif;
  font-weight: 800;
  font-size: 7vmin;
  margin: 0px;
  margin-top: 16px;
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--g1) 66%, 
    var(--g2) 83.5%, 
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.card-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 2;
}

.card-title,
.card-subtitle {
  
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-title {
  font-size: 8vmin;
}

.card-subtitle {
  font-size: 12vmin;
  margin-top: 2vmin;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0vmin 0.3vmin;
  opacity: 0;
  position: relative;  
  transform: translateY(40%);
  transition: none;
}

.card-icon {
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 7vmin;
  left: 0px;
  margin: 5vmin;
  position: absolute;
  transition: color 250ms ease;
  z-index: 2;
}

.btn{
	color: var(--text-color);
    cursor: pointer;
    border:  1px solid #888888;
}

.btn-gradient {
    font-size: 14px !important;
    background: linear-gradient(165deg,#00000033,#77777733,#00000033);
    background-size: 720px;
    border-radius: 10px;
    padding: 10px 15px !important;
    
    text-transform: uppercase;

    display: inline-block;
    border-radius: 6px;
    background-position:360px;  
    transition: background 0.2s ease-out;  
}

.btn-gradient:hover {
    background-position:720px;  
}
	
.button-box{
	position: fixed;
	right: 22px;
	bottom: 22px;
}



a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

			
		