:root {

   --application-hue: 215;         
   --text-hue: 210;         

   --application-saturation: 15;  
   --text-saturation: 32;  

   --application-brightness: 16;  
   --text-brightness: 85; 

}

.flex-container{

	display: flex;
	flex-flow: wrap;
  	justify-content: space-around;
	align-items: center;

	padding: 30px;
	position: fixed;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.panel-content{
  padding: 12px;
  border-radius: 12px;
  margin:  11px;
  border: 3px solid #FFFFFF44;
  position: absolute;
  inset: 0;

}

.panel{
  position: relative;
  box-sizing: border-box;
  color: #FFFFFF;
  border-radius: 12px;
  background-color: var(--background-color);

  
    box-shadow: 0px 0px 20px #FFF;

    margin-top: 10px;
    margin-bottom: 12px;

}


.panel-buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 12px;
}


.options-menu{
	border:  1px solid yellow;
  	background-color: white;
  	color:  black;
  	padding: 22px;
  	border: 2px solid black;
  	border-radius: 8px;
}

.console-menu{
	border:  1px solid yellow;
	width:  800px;
	height:  500px;
  	background-color: white;
  	color:  black;
}

.extention-UI{
	border:  1px solid yellow;
	width:  400px;
	height:  900px;
	background-color: white;
	color:  black;
}

.popup-UI{
	border:  1px solid yellow;
	background-color: white;
	color:  black;
  	padding: 22px;
  	border: 2px solid black;
  	border-radius: 8px;
    box-sizing: border-box;
}

.popup-UI button{
  	margin: 4px;
}

label {
  display: block;
  margin-bottom: 1em;
}

input[type="checked"] {
  float: left;
}

.tag {
  text-transform: uppercase;
  border-radius: 2px;
  background: #444444;
  font-size: 0.6em;
  font-weight: bold;
  padding: 2px;
  color: white;
}
.large-logo{
	max-height: 60vh;
}








:root {
  --border: rgb(39, 39, 39);
  
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
  --text-color: rgb(222, 222, 222);
}

.card {
  background-color: rgb(10, 10, 10);
  display: grid;
  margin: 0px;
  padding: 0px;
  place-items: center;


  box-sizing: border-box;

  color: white;

  border: 3px solid var(--border);
  border-radius: 9px;
  position: relative;
  display: border-;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.08);
}

.card:hover > .card-content {
  background-position: -10% 0%;
}

.card:hover{
 border-color: rgb(3, 169, 244);
}

.card-verbage {
  font-family: "Anek Latin", sans-serif;
  color: #FFFFFF99;
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}


.card-status {
  font-family: "Anek Latin", sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin: 0px;
  margin-top: 16px;
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--g1) 66%, 
    var(--g2) 83.5%, 
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.card-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 24px 24px;
  
  transition: background-position 350ms ease;
  width: 100%;
  padding: 20px;
  z-index: 2;
  box-sizing: border-box;
}

.card-title,
.card-subtitle {
  
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-title {
  font-size: 28px;
}

.card-subtitle {
  font-size: 48px;
  margin-top: 10px;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0px 2px;
  opacity: 0;
  position: relative;  
  transform: translateY(40%);
  transition: none;
}

.card-icon {
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  left: 0px;
  margin: 24px;
  position: absolute;
  transition: color 250ms ease;
  z-index: 2;
}

.popup-container{
  background-color: black;
  position: relative;
  border:  3px solid #FFFFFF11;
  box-sizing: border-box;
  padding: 9px;
}



.btn{
	color: var(--text-color);
    cursor: pointer;
    border:  1px solid #888888;
}

.btn-gradient {
    font-size: 14px !important;
    background: linear-gradient(165deg,#00000033,#77777733,#00000033);
    background-size: 720px;
    border-radius: 10px;
    padding: 10px 15px !important;
    
    text-transform: uppercase;

    display: inline-block;
    border-radius: 6px;
    background-position:360px;  

    transition: background 0.2s ease-out;  
}

.btn-gradient:hover {
    background-position:720px;  
}
	
.btn-configure-application{
	position: absolute;
	right: 12px;
	bottom: 12px;
}



a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

hr{
	border-color: #AAAAAA44;
}

.full-height {
  height: 100%;
  min-height: 70vh;
}

.height-300{
  height: 300px;

}

.width-400{
  width: 400px;

}

.width-600{
  width: 600px;

}

.width-555{
  width: 555px;

}

.toolbar-nav {
    margin: 33px;
  }


.watermark{
  position: fixed;
  bottom: 10px;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  font-size: 32px;

}

.developer-watermark{
  bottom: 10px;
  right: 10px;
}

.version-watermark{
  bottom: 10px;
  left: 10px;
}


.worker-selector-container{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.settings-page-container{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.settings-card{
  border: 1px solid #fff6;
  border-radius: 7px;
  background-color: #fff1;
  margin: 20px;
  padding: 20px;
  flex: 1 0 auto; /* Allows growth and shrinkage, starting from content size */

}

.setting-summary{
  color: #9999;
}

.setting-note{
  color: #6666;
}

.setting-key{
  color: #4444;
  font-size: 10px;
}



