.github-dark {

   --application-hue: 215;         
   --text-hue: 210;         

   --application-saturation: 15;  
   --text-saturation: 32;  

   --application-brightness: 16;  
   --text-brightness: 85; 

}

.alice {
 
   --application-hue: 193;         
   --text-hue: 193;         

   --application-saturation: 73;  
   --text-saturation: 10;  

   --application-brightness: 57;  
   --text-brightness: 90; 
   
}

.pandora {
 
   /* pandora == hsl(69, 88%, 57%) */

   --application-hue: 69;         
   --text-hue: 69;         

   --application-saturation: 88;  
   --text-saturation: 22;  

   --application-brightness: 57;  
   --text-brightness: 88; 

}

.hazes {

    /*--highlight-color: hsl(242deg 52% 11%);*/
    /*--accent-color: hsl(240deg 6% 34%);*/
    /*--shadow-color: hsl(0deg 88% 13%);*/

   --application-hue: 242;         
   --accent-hue: 10;         
   --shadow-hue: 0;         
   --text-hue: 0;         

   --application-saturation: 52;  
   --accent-saturation: 36;  
   --shadow-saturation: 88;  
   --text-saturation: 6;  

   --application-brightness: 11;  
   --accent-brightness: 100;  
   --shadow-brightness: 13;  
   --text-brightness: 90; 

}



.astro {

    /*--highlight-color: hsl(192deg 88% 29%);*/
    /*--shadow-color: hsl(198deg 65% 80%);*/

   --application-hue: 192;         
   --shadow-hue: 198;         
   --text-hue: 194;         

   --application-saturation: 88;  
   --shadow-saturation: 65;  
   --text-saturation: 6;  

   --application-brightness: 29;  
   --shadow-brightness: 80;  
   --text-brightness: 90; 

   --application-transparency: 30;  
}
